<html>
  <head>
    <title>{{title}}</title>
  </head>
  <meta charset="utf-8" />
  <meta name="author" content="{{author}}" />
  <meta name="description" content="{{description}}" />
  <body>
    <main>
      {{{content}}}
    </main>
  </body>
</html>